/* .grandfather{
    padding: 30px;
    background-color: blue;
    font-size: 50px;
}

.dad{
    padding: 30px;
    background-color: purple;
    font-size: 50px;
}

.son{
    padding: 30px;
    background-color: green;
    font-size: 50px;
} */

.list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 1000px;
    outline: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.item{
    height: 200px;
    width: 310px;
}

.backdrop {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.303);
display: flex;
justify-content: center;
align-items: center;
}

.modal {
width: 1200px;
height: 700px;
background-color: aliceblue;
position: relative;
}

.btn{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid gray;
}


.is-hidden{
    pointer-events: none;
    opacity: 0;
}
